.button
{
    -fx-background-color:  #BDBDBD;
    -fx-background-radius: 30 30 30 30;
}
.button:hover
{
        -fx-background-color:  #A4A4A4;
        -fx-background-radius: 30 30 30 30;
}
.button:pressed
{
    -fx-background-color:  #585858;
    -fx-background-radius: 30 30 30 30;
}